__pycache__/
.env
*.csv
*.checkpoint
models/
venv/
ci_env/
build/
data/

# LaTeX
docs/*.aux
docs/*.log
docs/*.out
docs/*.toc
docs/*.synctex.gz

# Python / Testing
.pytest_cache/
.ruff_cache/
*.egg-info/
.DS_Store
